<div class="sibu_view">
  <div class="actions">
    <%= link_to 'Retour', :back %>
  </div>
  <h2>Télécharger un document</h2>
  <p>
    Vous pouvez télécharger tous types de documents d'une taille inférieure à 10Mo.
    Pour les documents textes, favorisez le format PDF pour une compatibilité optimale.
  </p>
  <div class="sibu_form">
    <%= render 'form' %>
  </div>
</div>