<div class="sibu_view">
  <div class="actions">
    <%= link_to 'Retour', :back %>
  </div>
  <h2>Télécharger une image</h2>
  <p>
    Pour un rendu optimal, nous vous conseillons d'utiliser des images ayant une résolution élevée (au moins 1600 pixels sur le bord le plus large).
    Veillez également à ne télécharger que des visuels pour lesquels vous disposez des droits d'utilisation.
  </p>
  <div class="sibu_form">
    <%= render 'form' %>
  </div>
</div>