<%= site.section('nav', :nav) do |s| %>
  <ul>
    <% s.elts('menu').each do |menu_item| %>
      <li>
        <%= s.link(menu_item, repeat: true, children: true) %>
        <% unless menu_item["elements"].blank? %>
          <ul>
            <% s.elts(menu_item).each do |sub_item| %>
              <li><%= s.link(sub_item, repeat: true) %></li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<div>
  <% @page.sections.each do |s| %>
    <%= render "shared/#{@site.section_template(s)}", sec: s %>
  <% end %>
</div>
