<% if @added.nil? %>
document.querySelector("#edit_panel #edit_msg").innerHTML = "<p class='sibu_alert'>Une erreur s'est produite lors de l'ajout du sous-menu.</p>";
<% else %>
document.querySelector("#edit_panel").classList.remove('active');
location.reload(true);
<% end %>
