<% if @cloned.nil? %>
$("#edit_panel #edit_msg").html("<p class='sibu_alert'>Une erreur s'est produite lors de l'enregistrement.</p>");
<% else %>
$("#edit_panel").slideUp();
refreshAfterEdit('<%= @section_id %>');
<% end %>
