<% if @cloned %>
var section = $(".sibu_content_panel").find("[data-id='<%= @section_id %>']").first();
var newSection = section.clone();
newSection.data("id", "<%= [@section_id.split('|')[0], @cloned["id"]].join('|') %>");
section.after(newSection);
cancelEditMode();
<% else %>
$("#edit_section_msg").html("<p class='sibu_alert'>Une erreur s'est produite lors de l'enregistrement.</p>");
<% end %>

