<% if @deleted %>
refreshAfterEdit(true, '<%= @section_id %>');
<% else %>
document.querySelector("#edit_section_msg").innerHTML = "<p class='sibu_alert'>La suppression n'a pas pu être effectuée.</p>";
<% end %>

